.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 385px;
  border: 0;
  font-weight: 500;
}

.form__label {
  margin-bottom: 8px;
  font-weight: 500;
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border-color: #838383;
}

.form__button {
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
  font-weight: 500;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
}

.form__checkbox_input {
  width: 20px;
  height: 20px;
}
